<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.0.dtd">
<module configVersion="1.0">
	
	<!-- Patient Notes Properties -->
	<id>chicaops</id> <!-- The unique internal id used in urls -->
	<name>Chica Operations</name> <!-- Longer descriptive name used on Manage Modules page -->
	<version>1.3.2</version>
	<package>org.openmrs.module.@MODULE_ID@</package> <!-- Distinct package name for this module.  MODULE_ID refrences "id" element from above -->
	<author>Steve McKee</author> <!-- Custom string representation of the author  -->
	
	<description>Monitor CHICA Installations</description>
	
	<!-- All message codes should start with @MODULE_ID@.* -->
    <messages>
        <lang>en</lang>
        <file>messages.properties</file>
    </messages>
	
	<activator>@MODULE_PACKAGE@.ChicaopsActivator</activator> <!-- Class called when the module is installed into openmrs and when the module is turned off -->
	
	<!-- Properties -->
	<globalProperty>
        <property>chicaops.dashboardConfigFile</property>
        <description>This file contains the information the dashboard will monitor.
        </description>
    </globalProperty>
    <globalProperty>
        <property>chicaops.dashboardRefresh</property>
        <defaultValue>300</defaultValue>
        <description>This value contains the refresh rate for the CHICA Dashboard.
        </description>
    </globalProperty>
    <globalProperty>
        <property>chicaops.dashboardSmtpMailHost</property>
        <defaultValue>smtp.wishard.edu</defaultValue>
        <description>SMTP mail host used to send email messages from the dashboard.
        </description>
    </globalProperty>
    <globalProperty>
        <property>chicaops.dashboardPagerBaseURL</property>
        <defaultValue>http://www.ipnpaging.com/page.html</defaultValue>
        <description>Base URL for the pager service.
        </description>
    </globalProperty>
    <globalProperty>
        <property>chicaops.dashboardPagerUrlMessageParam</property>
        <defaultValue>message</defaultValue>
        <description>Name for the URL parameter containing the message text.
        </description>
    </globalProperty>
    <globalProperty>
        <property>chicaops.dashboardPagerUrlNumberParam</property>
        <defaultValue>pin</defaultValue>
        <description>Name for the URL parameter containing the pager number.
        </description>
    </globalProperty>
    <globalProperty>
        <property>chicaops.dashboardMessageWaitThreshold</property>
        <defaultValue>60</defaultValue>
        <description>This is used by the dashboard messaging/paging system.  It specifies the amount of time (in minutes) before the same message will be sent again.
        </description>
    </globalProperty>
    <globalProperty>
        <property>chicaops.dashboardApplicationName</property>
        <defaultValue>CHICA</defaultValue>
        <description>The application name displayed on the dashboard: 'Welcome to the app_name Operations Dashboard';
        </description>
    </globalProperty>
    
    <require_modules>
        <require_module version="2.27.12">org.openmrs.module.dss</require_module>
        <require_module version="1.57">org.openmrs.module.atd</require_module>
        <require_module version="1.0.15">org.openmrs.module.chirdlutil</require_module>
    </require_modules>
    
    <!-- Extensions -->
    <extension>
        <point>org.openmrs.admin.list</point>
        <class>org.openmrs.module.chicaops.extension.html.AdminList</class>
    </extension>
	
</module>
